/*index*/
* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: 'serif', sans-serif;
}

.hero {
    height: auto;
    width: 100%;
    min-height: 100px;
    min-height: 1024px;
    background-image: url("img/background.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed ;
    
} 
.menu-index {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-left:40px;
    padding-right: 40px;
 }
 .logo {
    color: blue ; 
    font-size: 50px;
    font-style: italic;
    text-shadow: 2px 2px #ff0000;
  }
span {
    color:rgb(98, 43, 226) ;
}
nav ul li {
    list-style-type: none;
    display:inline-block ;
    padding: 10px 22px;
}
nav > ul > li > a {
    color: rgb(3, 14, 8);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px gold;
}
nav > ul > li > a:hover{
    transition: .4s;
    color: rgb(230, 59, 88);
}

.main {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
       
}
p {
    color: white;
    padding: 20px; 
}

h1 {
    color: white;

}

/*ini about*/
.hero {
    font-family: Nobile-Regular;
    src: url("font/Nobile-Regular.ttf")
}
.header {
    color: blue;
    padding-top: 40px;
    padding-left: 20px;
    
}

.nama {
    color:blue;
    font-size: 40px;
    
}
.tentang {
    color: blue;
    font-size: 40px;
}
#text {
    color: black;
    margin: 30px 20px 20px 10px;
}

.list {
    color: black;
    text-shadow: rgb(236, 17, 207);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    
}
.list {
    list-style-type: none;
    display:inline-block ;
    padding: 10px 22px;
    text-decoration: none;


}

.list-about:hover {
    transition: 1s;
}
/**/
